<div class="custyle">
    <button *ngIf="isViewer" (click)="addUser()" class="btn btn-outline-primary btn-sm float-right">Nueva</button>
  <table class="table table-striped table-hover table-sm custab">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Categoria</th>
          <th *ngIf="isViewer"  class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <th class="text-center">{{ category.id }}</th>
          <td class="text-center">{{ category.name }}</td>
          <td *ngIf="isViewer"  class="text-center">
            <button class="btn btn-outline-success  btn-sm">Edit</button>
            <button class="btn btn-outline-danger btn-sm">Del</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
